/* font */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Lobster&family=Poppins&family=Roboto+Slab&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

nav {
    background-color: #562EFF;
}

.container {
    width: 870px;
    margin: 0 auto;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-photo {
    display: flex;
    align-items: center;
}

.head-photo img {
    width: 40.42px;
    height: 41px;
}

.logo-name {
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 5px;
}

.head-manu {
    display: flex;
}

.head-manu a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.menu-photo img {
    width: 41px;
    height: 41px;
}

/* nav mobile devices 
--------------------- */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .head-manu {
        flex-direction: row-reverse;
    }

    .menu-photo {
        flex-direction: row;
    }
}

/* player section start 
======================= */
main {
    background-color: #fff;
}

.top-players {
    margin-left: 30px;
}

hr {
    margin-right: 30px;
    margin-bottom: 20px;
}

.title-name {
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    color: #562EFF;
    justify-content: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 31px;
}

.player {
    display: flex;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 18px;
}

/* mobile devices  */
@media only screen and (max-width: 688px) {
    main {
        background-color: lightblue;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .player img {
        width: 104px;
        height: 104px;
    }

    .player-name {
        margin-top: 40px;
        justify-items: center;
    }
}

/* player section end 
===================== */

/* blog sectin start 
==================== */
.blog img {
    width: 224px;
    height: 127px;
}