/* font */
body {
    background-color: #F3F1FF;
}

nav {
    background-color: #562EFF;
}

.container {
    width: 870px;
    margin: 0 auto;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-photo {
    display: flex;
    align-items: center;
}

.head-photo img {
    width: 40.42px;
    height: 41px;
}

.logo-name {
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 5px;
}

.head-manu {
    display: flex;
}

.head-manu a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.menu-photo img {
    width: 41px;
    height: 41px;
}

/* nav mobile devices 
--------------------- */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .head-manu {
        flex-direction: row-reverse;
    }

    .menu-photo {
        flex-direction: row;
    }
}

/* player section start 
======================= */
main {
    background-color: #fff;
}

.player img {
    width: 56px;
    height: 56px;
}